body{
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header{
    height: 45px;
    width: 100%;
    background-color: black;
    background-image: url(../img/header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header a{
    transition: 0.5s;
    margin-left: 5.25px;
}

.menuaberto{
    height: 100%;
    width: 0;
    background-color: #25242486;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
}

.btnfechar{
    margin-top: -5px;
    margin-right: 100%;
}

.menuaberto a{
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;
    transition: 0.5s;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
}

.principal{
    transition: 0.5s;
}

.container {
    margin: auto;
    width: 90%;
    text-align: center;
}

.container .caixa1{
background-color: rgba(0, 0, 0, 0.226);
border-radius: 5%;
background-size: cover;
width: 80%;
margin-left: 10%;
margin-right: 10%;
margin-top: 5%;
margin-bottom: 2%;
height:400px;
}

.c2 div{
margin-left: 10%;
width: 37%;
margin-left:2.5%;
margin-right: 2.5%;
border-radius: 5%;
height: 200px;
background-color: rgba(0, 0, 0, 0.226);
display: inline-block;
}